<!DOCTYPE html>
<html lang="en">
  <head>
    	<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Loan Application Result Prediction</title>
  </head>
  <body>
  	<h1> Loan Application Result Prediction </h1>
	<form action="{{ url_for('main') }}" method="POST">
	    <fieldset>
	        <legend>Please enter the following info:</legend>

			<label for="loan_type">loan type:  </label>
    		<select id="loan_type" name="loan_type">
      			<option value="loan_type_consumer_loan">Consumer loans</option>
      			<option value="loan_type_revolving_loan">Revolving loans</option>
    			</select><br>

			How much you ask? <input name="ask_loan_amount" type="text" required><br>
			How much down payment you have today? <input name="down_payment_amount" type="text" required><br>
			How much is the goods' price? <input name="goods_price" type="text" required><br>


			<label for="date">what date is today? </label>
    		<select id="date" name="date">
      			<option value="date_mon">Monday</option>
      			<option value="date_tue">Tuesday</option>
      			<option value="date_wed">Wednesday</option>
     		 	<option value="date_thu">Thursday</option>
      			<option value="date_fri">Friday</option>
				<option value="date_sat">Saturday</option>
				<option value="date_sun">Sunday</option>
    			</select><br>
			
			<label for="time_hour">What time is it now? </label>
    		<select id="time_hour" name="time_hour">
      			<option value="time_hour_1">1</option>
				<option value="time_hour_2">2</option>
				<option value="time_hour_3">3</option>
				<option value="time_hour_4">4</option>
				<option value="time_hour_5">5</option>
				<option value="time_hour_6">6</option>
				<option value="time_hour_7">7</option>
				<option value="time_hour_8">8</option>
				<option value="time_hour_9">9</option>
				<option value="time_hour_10">10</option>
				<option value="time_hour_11">11</option>
				<option value="time_hour_12">12</option>
				<option value="time_hour_13">13</option>
				<option value="time_hour_14">14</option>
				<option value="time_hour_15">15</option>
				<option value="time_hour_16">16</option>
				<option value="time_hour_17">17</option>
				<option value="time_hour_18">18</option>
				<option value="time_hour_19">19</option>
				<option value="time_hour_20">20</option>
				<option value="time_hour_21">21</option>
				<option value="time_hour_22">22</option>
				<option value="time_hour_23">23</option>
				<option value="time_hour_24">24</option>
    			</select><br>
			
			<label for="accompany">anyone accompany you?  </label>
    		<select id="accompany" name="accompany">
      			<option value="accompany_family">Family</option>
      			<option value="accompany_spouse">Spouse, partner</option>
				<option value="accompany_children">Children</option>
				<option value="accompany_group">group of people</option>
				<option value="accompany_other">other</option>
				<option value="accompany_unaccompanied">Unaccompanied</option>
    			</select><br>
			
			<label for="goods_category">what is the type of the goods is it? </label>
    		<select id="goods_category" name="goods_category">
      			<option value="goods_category_audionvideo">Audio/Video</option>
      			<option value="goods_category_autoAccessories">Auto Accessories</option>
				<option value="goods_category_cloth">Clothing and Accessories</option>
				<option value="goods_category_computer">Computers</option>
				<option value="goods_category_construction">Construction Materials</option>
				<option value="goods_category_consumerElectronics">Consumer Electronics</option>
				<option value="goods_category_directSales">Direct Sales</option>
				<option value="goods_category_education">Education</option>
				<option value="goods_category_fitness">Fitness</option>
				<option value="goods_category_furniture">Furniture</option>
				<option value="goods_category_gardening">Gardening</option>
				<option value="goods_category_homewares">Homewares</option>
				<option value="goods_category_houseConstruction">House Construction</option>
				<option value="goods_category_insurance">Insurance</option>
				<option value="goods_category_jewelry">Jewelry</option>
				<option value="goods_category_medicalSupplies">Medical Supplies</option>
				<option value="goods_category_medicine">Medicine</option>
				<option value="goods_category_mobile">Mobile</option>
				<option value="goods_category_officeAppliances">Office Appliances</option>
				<option value="goods_category_photo">Photo / Cinema Equipment</option>
				<option value="goods_category_sport">Sport and Leisure</option>
				<option value="goods_category_tourism">Tourism</option>
				<option value="goods_category_vehicles">Vehicles</option>
				<option value="goods_category_weapon">Weapon</option>
				<option value="goods_category_animal">Animals</option>
				<option value="goods_category_additionalServices">Additional Services</option>
				<option value="goods_category_other">Other</option>
    			</select><br>
			
			<label for="seller_industry">seller industry:  </label>
    		<select id="seller_industry" name="seller_industry">
      			<option value="seller_industry_clothing">Clothing</option>
      			<option value="seller_industry_connectivity">Connectivity</option>
				<option value="seller_industry_construction">Construction</option>
				<option value="seller_industry_consumerElectronics">Consumer electronics</option>
				<option value="seller_industry_furniture">Furniture</option>
				<option value="seller_industry_industry">Industry</option>
				<option value="seller_industry_jewelry">Jewelry</option>
				<option value="seller_industry_MLMpartners">MLM partners</option>
				<option value="seller_industry_tourism">Tourism</option>
				<option value="seller_industry_others">others</option>
    			</select><br>
			
			how many terms you are going to pay it back?(1-84 month) :  <input name="payment_term" type="text" required><br>

			<label for="client_type">client type:  </label>
    		<select id="client_type" name="client_type">
      			<option value="client_type_refreshed">Refreshed</option>
      			<option value="client_type_repeater">Repeater</option>
    			</select><br>	
			
			<label for="user_gender">Your Gender:  </label>
    		<select id="user_gender" name="user_gender">
      			<option value="user_gender_male">Male</option>
      			<option value="user_gender_female">Female</option>
    			</select><br>	

			<label for="user_ownCar">You own a car:  </label>
    		<select id="user_ownCar" name="user_ownCar">
      			<option value="user_ownCar_yes">Yes</option>
      			<option value="user_ownCar_no">No</option>
    			</select><br>	

			<label for="user_haveHouse">You own a house:  </label>
    		<select id="user_haveHouse" name="user_haveHouse">
      			<option value="user_haveHouse_yes">Yes</option>
      			<option value="user_haveHouse_no">No</option>
    			</select><br>

			how many children you have :  <input name="user_childrenCount" type="text" required><br>

			You annual income :  <input name="user_annualIncome" type="text" required><br>

			<label for="user_incomeType">Your income type:  </label>
    		<select id="user_incomeType" name="user_incomeType">
      			<option value="user_incomeType_working">Working</option>
      			<option value="user_incomeType_commerial">Commercial associate</option>
				<option value="user_incomeType_pensioner">Pensioner</option>
				<option value="user_incomeType_state">State servant</option>
				<option value="user_incomeType_unemployed">Unemployed</option>
				<option value="user_incomeType_student">Student</option>
				<option value="user_incomeType_maternity">Maternity leave</option>
    			</select><br>

			<label for="user_educationType">Your highest education:  </label>
    		<select id="user_educationType" name="user_educationType">
      			<option value="user_educationType_secondary">Secondary / secondary special</option>
      			<option value="user_educationType_higher">Higher education</option>
				<option value="user_educationType_incompleteHigher">Incomplete higher education</option>
				<option value="user_educationType_lowerSecondary">Lower secondary</option>
				<option value="user_educationType_academicDegree">Academic degree</option>
    			</select><br>

			<label for="user_familyStatus">Your family status:  </label>
    		<select id="user_familyStatus" name="user_familyStatus">
      			<option value="user_familyStatus_married">Married</option>
      			<option value="user_familyStatus_notMarried">Single / not married</option>
				<option value="user_familyStatus_civil">Civil marriage</option>
				<option value="user_familyStatus_separated">Separated</option>
				<option value="user_familyStatus_widow">Widow</option>
    			</select><br>

			<label for="user_houseType">Your house type:  </label>
    		<select id="user_houseType" name="user_houseType">
      			<option value="user_houseType_house">House / apartment</option>
      			<option value="user_houseType_withParents">With parents</option>
				<option value="user_houseType_municiupal">Municipal apartment</option>
				<option value="user_houseType_office">Office apartment</option>
				<option value="user_houseType_co">Co-op apartment</option>
    			</select><br>

			what is your age :  <input name="user_age" type="text" required><br>

		
			How many days before the application you started current employment: <input name="User_employment_days" type="text" required><br>

			at what age you own your first car: <input name="User_ageOwnCar" type="text" required><br>

			<label for="user_ownMobile">Your house type:  </label>
    		<select id="user_ownMobile" name="user_ownMobile">
      			<option value="user_ownMobile_yes">Yes</option>
      			<option value="user_ownMobile_no">No</option>
    			</select><br>

			<label for="user_ownEmail">Your house type:  </label>
    		<select id="user_ownEmail" name="user_ownEmail">
      			<option value="user_ownEmail_yes">Yes</option>
      			<option value="user_ownEmail_no">No</option>
    			</select><br>

			how many family members you have: <input name="User_familyMembersCount" type="text" required><br>

			<input type="submit" value="Submit">

	    </fieldset>
	</form>
	<div class="alert alert-success">
		<h4> prediction result: {{ result }} </h4>

		<!-- {% if input_text %}
			<h4> Classification for: {{ input_text }} </h4>
	  {% endif %}

		{% if result %}
			<p> Model predicted: {{ result }} </p>
	  {% endif %}

	    {% if precent_democrat %}
	    	<p> Percent democrat: {{ precent_democrat }} </p>
	    {% endif %}

	    {% if precent_republican %}
	    	<p> Percent republican: {{ precent_republican }} </p>
	    {% endif %} -->
	</div>
     <p>
		<a href="{{ url_for('classify_image') }} " class="btn btn-secondary my-4">Classify Image Page</a>
		<a href="{{ url_for('images') }} " class="btn btn-secondary my-4">More Images Page</a>
		<a href="{{ url_for('bootstrap') }} " class="btn btn-secondary my-4">Pretty Boostrap Page</a>
		<a href="{{ url_for('input_values') }} " class="btn btn-secondary my-4">Input Values Page</a>

     </p>
  </body>
</html>